{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
    <div class="container mt-4">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-success" role="alert">
                      {{message}}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
   
      <div class="container mt-4">
          <h1>Edit Employee Details</h1>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary mt-4">Save</button>
        </div>
      </br>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">

        <!--Profile photo upload starts-->
                <div class="col-md-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="text-center">
                          <div class="profile-userpic">
                            <img id="uploadedImage" src="{{url_for('static', filename='placeholder.jpg')}}" class="img-responsive" alt="" style="width: 100%;">
                          </div>
                          <div class="form-group mt-3">
                            <input type="file" class="form-control-file" id="exampleInputFile">
                          </div>
                          <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Upload</button>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
        <!--Profile photo upload ends-->


                <div class="col-md-8">
                  <div class="card">

          <!--Navagation of employee details starts-->
                    <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="update-tab" data-toggle="tab" href="#update" role="tab" aria-controls="update" aria-selected="true">Profile</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Personal Details</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Address</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="identification-tab" data-toggle="tab" href="#identification" role="tab" aria-controls="identification" aria-selected="false">Identification</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="career-tab" data-toggle="tab" href="#career" role="tab" aria-controls="career" aria-selected="false">Career</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Documents</a>
                        </li>
                      </ul>
                    </div>
          <!--Navagation of employee details ends-->

          <!--Basic required details of employee starts-->
                  <form method="POST" >
                    <div class="form-group">
                        <label for="first_name">First Name: <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ employee.first_name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="middle_name">Middle Name:</label>
                        <input type="text" class="form-control" id="middle_name" name="middle_name" value="{{ employee.middle_name }}">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name: <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ employee.last_name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="role">Role: <span style="color: red;">*</span></label>
                        <select class="form-control" id="role" name="role" required>
                            {% for role in roles %}
                                <option value="{{ role.id }}" {% if employee.role_id == role.id %} selected {% endif %}>{{ role.role }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender: <span style="color: red;">*</span></label>
                        <select class="form-control" id="gender" name="gender" required>
                            {% for gender in genders %}
                                <option value="{{ gender.id }}" {% if employee.gender_id == gender.id %} selected {% endif %}>{{ gender.gender }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Email: <span style="color: red;">*</span></label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ employee.email }}" required>
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile: <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" id="mobile" name="mobile" value="{{ employee.mobile }}" required>
                    </div>
                </form>
            <!--Basic required details of employee ends-->

            <!--Personal details of employee starts-->
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                          <form id="userForm">
                            <div class="form-group">
                              <label for="maritalStatus">Education Qualifications:</label>
                              <select id="maritalStatus" name="maritalStatus" class="form-control">
                                <option value="Single">School Level</option>
                                <option value="Married">Graduate</option>
                                <option value="Divorced">Post Graduate</option>
                                <option value="Divorced">Other</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="birthdate">Birthdate:</label>
                              <input type="date" id="birthdate" name="birthdate" class="form-control">
                            </div>

                            <div class="form-group">
                              <label for="height">Height (cm):</label>
                              <input type="number" id="height" name="height" class="form-control">
                            </div>

                            <div class="form-group">
                              <label for="weight">Weight (kg):</label>
                              <input type="number" id="weight" name="weight" class="form-control">
                            </div>

                            <div class="form-group">
                              <label for="maritalStatus">Marital Status:</label>
                              <select id="maritalStatus" name="maritalStatus" class="form-control">
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Divorced">Divorced</option>
                              </select>
                            </div>
                            <div id="familyMembers">
                              <div class="familyMember">
                                <div class="form-row">
                                  <div class="col">
                                    <label for="familyName">Name:</label>
                                    <input type="text" name="familyName[]" class="form-control">
                                  </div>
                                  <div class="col">
                                    <label for="familyBirthdate">Birthdate:</label>
                                    <input type="date" name="familyBirthdate[]" class="form-control">
                                  </div>
                                  <div class="col">
                                    <label for="familyRelation">Relation:</label>
                                    <input type="text" name="familyRelation[]" class="form-control">
                                  </div>
                                </div>
                              </div>
                            </div>

                            <button type="button" id="addFamilyMember" class="btn btn-info mt-3">Add More Family Member</button>
                            <div>
                              <button type="submit" class="btn btn-primary mt-3">Save</button>
                            </div>
                          </form>
                        </div>
                        <!--Personal details of employee ends-->


            <!--Address of employee starts-->
                        <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                          <div class="form-group">
                            <label for="currentAddressLine1">Address Line 1:</label>
                            <input type="text" id="currentAddressLine1" name="currentAddressLine1" class="form-control">
                          </div>

                          <div class="form-group">
                            <label for="currentStreet">Street:</label>
                            <input type="text" id="currentStreet" name="currentStreet" class="form-control">
                          </div>

                          <div class="form-group">
                            <label for="currentPin">PIN:</label>
                            <input type="text" id="currentPin" name="currentPin" class="form-control">
                          </div>

                          <div class="form-group">
                            <label for="currentVillage">Village:</label>
                            <input type="text" id="currentVillage" name="currentVillage" class="form-control">
                          </div>

                          <div class="form-group">
                            <label for="currentCity">City:</label>
                            <select id="currentCity" name="currentCity" class="form-control">
                              <option value="City1">City1</option>
                              <option value="City2">City2</option>
                              <option value="City3">City3</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="currentState">State:</label>
                            <select id="currentState" name="currentState" class="form-control">
                              <option value="State1">State1</option>
                              <option value="State2">State2</option>
                              <option value="State3">State3</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="currentCountry">Country:</label>
                            <select id="currentCountry" name="currentCountry" class="form-control">
                              <option value="Country1">Country1</option>
                              <option value="Country2">Country2</option>
                              <option value="Country3">Country3</option>
                            </select>
                          </div>
                          <br>
                          <hr>

                          <input type="checkbox" id="sameAddress" name="sameAddress" class="form-check-input">

                          <label for="sameAddress" class="form-check-label">Same as Current Address</label><br><br>

                          <div class="form-group">
                            <label for="permanentAddressLine1">Permanent Address Line 1:</label>
                            <input type="text" id="permanentAddressLine1" name="permanentAddressLine1" class="form-control">
                          </div>

                          <div class="form-group">
                            <label for="permanentStreet">Street:</label>
                            <input type="text" id="permanentStreet" name="permanentStreet" class="form-control">
                          </div>

                          <div class="form-group">
                            <label for="permanentPin">PIN:</label>
                            <input type="text" id="permanentPin" name="permanentPin" class="form-control">
                          </div>

                          <div class="form-group">
                            <label for="permanentVillage">Village:</label>
                            <input type="text" id="permanentVillage" name="permanentVillage" class="form-control">
                          </div>

                          <div class="form-group">
                            <label for="permanentCity">City:</label>
                            <select id="permanentCity" name="permanentCity" class="form-control">
                              <option value="City1">City1</option>
                              <option value="City2">City2</option>
                              <option value="City3">City3</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="permanentState">State:</label>
                            <select id="permanentState" name="permanentState" class="form-control">
                              <option value="State1">State1</option>
                              <option value="State2">State2</option>
                              <option value="State3">State3</option>
                            </select>
                          </div>

                          <div class="form-group">
                            <label for="permanentCountry">Country:</label>
                            <select id="permanentCountry" name="permanentCountry" class="form-control">
                              <option value="Country1">Country1</option>
                              <option value="Country2">Country2</option>
                              <option value="Country3">Country3</option>
                            </select>
                          </div>
                          <button type="submit" class="btn btn-primary mt-4">Save</button>
                        </div>
            <!--Address of employee ends-->


            <!--Identification of employee starts-->
                        <div class="tab-pane fade" id="identification" role="tabpanel" aria-labelledby="identification-tab">
                          <form id="userForm">
                              <div class="form-group">
                                <label for="aadhar">Aadhar:</label>
                                <input type="text" id="aadhar" name="aadhar" class="form-control">
                              </div>

                              <div class="form-group">
                                <label for="pan">PAN:</label>
                                <input type="text" id="pan" name="pan" class="form-control">
                              </div>

                              <div class="form-group">
                                <label for="drivingLicense">Driving License:</label>
                                <input type="text" id="drivingLicense" name="drivingLicense" class="form-control">
                              </div>

                              <div class="form-group">
                                <label for="passport">Passport:</label>
                                <input type="text" id="passport" name="passport" class="form-control">
                              </div>

                              <div id="additionalFields"></div>

                              <button type="button" id="addMoreFields" class="btn btn-info mt-3">Add More</button>
                              <div>
                              <button type="submit" class="btn btn-primary mt-3">Save</button>
                              </div>
                           </form>
                        </div>
              <!--Identification of employee ends-->

                        <!--Career of employee starts-->	
                                  <div class="tab-pane fade" id="career" role="tabpanel" aria-labelledby="career-tab"> 
                                    <form id="userForm">
                                      <div class="form-group row">
                                        <div class="col-sm-3">
                                          <input type="checkbox" id="experienced" name="experienced" class="form-check-input">
                                          <label for="experienced" class="form-check-label">Experienced</label>
                                          <button type="button" id="addExperienceFields" class="btn btn-primary mt-2" style="display: none;">Add More</button>
                                        </div>
                                        <div class="col-sm-9">
                                          <div id="experiencedFields" style="display: none;">
                                            <div class="form-group">
                                              <label for="companyName">Company Name:</label>
                                              <input type="text" id="companyName" name="companyName" class="form-control">
                                            </div>
                                            <div class="form-row">
                                              <div class="form-group col">
                                                <label for="experienceYears">Years of Experience:</label>
                                                <input type="number" id="experienceYears" name="experienceYears" class="form-control">
                                              </div>
                                              <div class="form-group col">
                                                <label for="experienceMonths">Months of Experience:</label>
                                                <input type="number" id="experienceMonths" name="experienceMonths" class="form-control">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="form-group row">
                                        <div class="col-sm-3">
                                          <input type="checkbox" id="indianDefence" name="indianDefence" class="form-check-input">
                                          <label for="indianDefence" class="form-check-label">Served in Indian Defence</label>
                                          <button type="button" id="addDefenceFields" class="btn btn-primary mt-2" style="display: none;">Add More</button>
                                        </div>
                                        <div class="col-sm-9">
                                          <div id="defenceFields" style="display: none;">
                                            <div class="form-group">
                                              <label for="forceName">Name of Force:</label>
                                              <input type="text" id="forceName" name="forceName" class="form-control">
                                            </div>
                                            <div class="form-row">
                                              <div class="form-group col">
                                                <label for="serviceYears">Years of Service:</label>
                                                <input type="number" id="serviceYears" name="serviceYears" class="form-control">
                                              </div>
                                              <div class="form-group col">
                                                <label for="serviceMonths">Months of Service:</label>
                                                <input type="number" id="serviceMonths" name="serviceMonths" class="form-control">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                      <button type="submit" class="btn btn-success mt-3">Save</button>
                                    </form>
                                  </div>
                        <!--Career of employee ends-->

            <!--Documents of employee starts-->	
                      <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab"> 
            documents
                      </div>
            <!--Career of employee ends-->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

            <script>
              document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('exampleInputFile').addEventListener('change', function() {
                  const file = this.files[0];
                  if (file) {
                    const reader = new FileReader();
                    reader.onload = function(event) {
                      document.getElementById('uploadedImage').src = event.target.result;
                    }
                    reader.readAsDataURL(file);
                  }
                });
              });
            </script>
              <script>
                document.getElementById('sameAddress').addEventListener('change', function() {
                  if (this.checked) {
                    document.getElementById('permanentAddressLine1').value = document.getElementById('currentAddressLine1').value;
                    document.getElementById('permanentStreet').value = document.getElementById('currentStreet').value;
                    document.getElementById('permanentPin').value = document.getElementById('currentPin').value;
                    document.getElementById('permanentVillage').value = document.getElementById('currentVillage').value;
                    document.getElementById('permanentCity').value = document.getElementById('currentCity').value;
                    document.getElementById('permanentState').value = document.getElementById('currentState').value;
                    document.getElementById('permanentCountry').value = document.getElementById('currentCountry').value;
                  } else {
                    document.getElementById('permanentAddressLine1').value = '';
                    document.getElementById('permanentStreet').value = '';
                    document.getElementById('permanentPin').value = '';
                    document.getElementById('permanentVillage').value = '';
                    document.getElementById('permanentCity').value = '';
                    document.getElementById('permanentState').value = '';
                    document.getElementById('permanentCountry').value = '';
                  }
                });

                document.getElementById('addFamilyMember').addEventListener('click', function() {
                  var familyMembersDiv = document.getElementById('familyMembers');
                  var newMemberDiv = document.createElement('div');
                  newMemberDiv.classList.add('familyMember', 'form-row');
                  newMemberDiv.innerHTML = `
                    <div class="col">
                      <label for="familyName">Name:</label>
                      <input type="text" name="familyName[]" class="form-control">
                    </div>
                    <div class="col">
                      <label for="familyBirthdate">Birthdate:</label>
                      <input type="date" name="familyBirthdate[]" class="form-control">
                    </div>
                    <div class="col">
                      <label for="familyRelation">Relation:</label>
                      <input type="text" name="familyRelation[]" class="form-control">
                    </div>
                  `;
                  familyMembersDiv.appendChild(newMemberDiv);
                });
              </script>
            <script>
            document.getElementById('addMoreFields').addEventListener('click', function() {
              var additionalFieldsDiv = document.getElementById('additionalFields');
              var newFieldDiv = document.createElement('div');
              newFieldDiv.classList.add('form-group');
              newFieldDiv.innerHTML = `
                <label for="additionalField">Additional Field:</label>
                <input type="text" name="additionalField[]" class="form-control">
              `;
              additionalFieldsDiv.appendChild(newFieldDiv);
            });
            </script>
                <script>
                  document.getElementById('experienced').addEventListener('change', function() {
                    var experiencedFields = document.getElementById('experiencedFields');
                    var addExperienceButton = document.getElementById('addExperienceFields');
                    if (this.checked) {
                      experiencedFields.style.display = 'block';
                      addExperienceButton.style.display = 'block';
                    } else {
                      experiencedFields.style.display = 'none';
                      addExperienceButton.style.display = 'none';
                    }
                  });

                  document.getElementById('indianDefence').addEventListener('change', function() {
                    var defenceFields = document.getElementById('defenceFields');
                    var addDefenceButton = document.getElementById('addDefenceFields');
                    if (this.checked) {
                      defenceFields.style.display = 'block';
                      addDefenceButton.style.display = 'block';
                    } else {
                      defenceFields.style.display = 'none';
                      addDefenceButton.style.display = 'none';
                    }
                  });

                  document.getElementById('addExperienceFields').addEventListener('click', function() {
                    var additionalExperienceField = document.createElement('div');
                    additionalExperienceField.classList.add('form-group');
                    additionalExperienceField.innerHTML = `
                      <label for="additionalExperienceField">Additional Experience Field:</label>
                      <input type="text" name="additionalExperienceField[]" class="form-control">
                    `;
                    document.getElementById('experiencedFields').appendChild(additionalExperienceField);
                  });

                  document.getElementById('addDefenceFields').addEventListener('click', function() {
                    var additionalDefenceField = document.createElement('div');
                    additionalDefenceField.classList.add('form-group');
                    additionalDefenceField.innerHTML = `
                      <label for="additionalDefenceField">Additional Defence Field:</label>
                      <input type="text" name="additionalDefenceField[]" class="form-control">
                    `;
                    document.getElementById('defenceFields').appendChild(additionalDefenceField);
                  });
                </script>

{% endblock %}