{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
    <div class="container mt-4">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-success" role="alert">
                      {{message}}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}

<h1>Employee</h1>
     <button class="btn btn-primary mt-4" href="">Add Employee</button> 
      <div>
      <table class="table table-striped mt-4">
          <thead>
            <tr>
              <th>ID</th>
              <th>Role</th>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Mobile</th>
            </tr>
          </thead>
          <tbody>
          {% for user in users %}
          <td><a href="" class="btn btn-success">View</a></td>
          <td><a href="" class="btn btn-primary">Edit</a></td>
          <td><a href="" class="btn btn-danger">Delete</a></td>
            </tr> 
        {% endfor %}	  
          </tbody>
      </table>
      </div>

{% endblock %}