{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
    <div class="container mt-4">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-success" role="alert">
                      {{message}}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}

<h1>Employee</h1>
     <a <button class="btn btn-primary mt-4" href="/add_employee">Add Employee</button></a>
      <div>
          <table class="table table-striped mt-4">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Role</th>
                      <th>Full Name</th>
                      <th>Email</th>
                      <th>Mobile</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  {% for employee in user.employees %}
                      <tr>
                          <td>{{ employee.employee_id }}</td>
                          <td>{{ employee.role.role }}</td>
                          <td>{{ employee.first_name }} {{ employee.middle_name }} {{ employee.last_name }}</td>
                          <td>{{ employee.email }}</td>
                          <td>{{ employee.mobile }}</td>
                          <td><a href="" class="btn btn-info">View</a></td>
                          <td><a href="" class="btn btn-warning">Edit</a></td>
                          <td><a href="" class="btn btn-danger">Delete</a></td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>

{% endblock %}