{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
    <div class="container mt-4">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-success" role="alert">
                      {{message}}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <style>
          @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
          @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
          @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
          body {
              font-family: 'Open Sans', sans-serif;
          }
          section {
              float: left;
              width: 100%;
              background: #fff;
              padding: 30px 0;
          }
          h1 {
              float: left;
              width: 100%;
              color: #232323;
              margin-bottom: 30px;
              font-size: 14px;
          }
          h1 span {
              font-family: 'Libre Baskerville', serif;
              display: block;
              font-size: 45px;
              text-transform: none;
              margin-bottom: 20px;
              margin-top: 30px;
              font-weight: 700;
          }
          h1 a {
              color: #131313;
              font-weight: bold;
          }
          /*Profile Card 3*/
          .profile-card-3 {
              font-family: 'Open Sans', Arial, sans-serif;
              position: relative;
              float: left;
              overflow: hidden;
              width: 64mm;
              text-align: center;
              height: 96mm;
              border: 2px solid #444; /* Dark gray border */
              border-radius: 5px;
          }
          .profile-card-3 .background-block {
              float: left;
              width: 100%;
              height: 60%;
              overflow: hidden;
          }
          .profile-card-3 .background-block .background {
              width: 64mm;
              vertical-align: top;
              opacity: 0.9;
              -webkit-filter: blur(0.5px);
              filter: blur(0.5px);
              -webkit-transform: scale(1.8);
              transform: scale(2.8);
          }
          .profile-card-3 .card-content {
              width: 64mm;
              padding: 15px 25px;
              color: #232323;
              float: left;
              background: #efefef;
              height: 50%;
              border-radius: 0 0 5px 5px;
              position: relative;
              z-index: 9999;
          }
          .profile-card-3 .card-content::before {
              content: '';
              background: #efefef;
              width: 120%;
              height: 100%;
              left: 11px;
              bottom: 51px;
              position: absolute;
              z-index: -1;
              transform: rotate(-18deg);
          }
          .profile-card-3 .profile {
              border-radius: 50%;
              position: absolute;
              bottom: 50%;
              left: 50%;
              max-width: 100px;
              opacity: 1;
              box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
              border: 2px solid rgba(255, 255, 255, 1);
              -webkit-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%);
              z-index: 99999;
          }
          .profile-card-3 h2 {
              margin: 0 0 5px;
              font-weight: 600;
              font-size: 25px;
          }
          .profile-card-3 h2 small {
              display: block;
              font-size: 15px;
              margin-top: 10px;
          }
          .profile-card-3 i {
              display: inline-block;
              font-size: 16px;
              color: #232323;
              text-align: center;
              border: 1px solid #232323;
              width: 30px;
              height: 30px;
              line-height: 30px;
              border-radius: 50%;
              margin: 0 5px;
          }
          
        .profile-card-3 .profile {
            border-radius: 50%;
            width: 100px; /* Adjust the width and height as needed */
            height: 100px; /* Adjust the width and height as needed */
            object-fit: cover; /* Ensure the image covers the entire space */
        }
          </style>
      </head>
      <body>
          <section>
              <div class="container">
                  <div class="row">
                      <!-- Profile Card 3 -->
                      <div class="col-md-12">
                          <div class="card profile-card-3">
                              <div class="background-block">
                                  <img src="static/image/Asset 1.png" alt="profile-sample1" class="background"/>
                              </div>
                              <div class="profile-thumb-block">
                                  <img src="{{ static_file_path }}" alt="profile-image" class="profile"/>
                              </div>
                              <div class="card-content">
                                <h2>{{ employee.first_name }} {{ employee.middle_name }} {{ employee.last_name }}<small>Role: {{ employee.role.role }}</small><small>Mobile: {{ employee.mobile }}</small></h2>
                            
                                <p>Address: {{ paddress.address_line1 }}, {{ paddress.street }}, {{ paddress.village }}, {{ paddress.pin }}, {{ paddress.city.city }}, {{ paddress.state.state }}, {{ paddress.country.country }}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <div class="container mt-3">
              <div class="row justify-content-center">
                  <div class="col-md-6">
                      <button class="print-btn btn btn-primary w-100">Print ID Card</button>
                  </div>
              </div>
          </div>

        
      </body>
      <script>
          $(document).ready(function () {
              $('.print-btn').click(function () {
                  window.print();
              });
          });
      </script>

{%endblock%}
